
body{
    font-family: 'BebasNeueRegular'; 
    background-color: black;
}

header {
    text-align:center;
    font-size: 300%;
    letter-spacing: 4px;
    color: red; 
}

h1 {
    
    font-size: 150%;
    } 


.contentStyle {
    color: white;
    text-align: center;
    font-size: 150%;
    }

.download{
    font-family: 'BebasNeueRegular';
    letter-spacing: 4px;
    background-color: black;
    color: red;
    font-size: 100%;
}